body {
    background-color: whitesmoke;
}

#title {
    border: 4px solid black;
    padding: 5px;
    background-color: wheat;
   

}

header {
    text-align: center;
    margin-top: 3%;
}

.calculator {  
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 25em;
}

#calculator-display {
    background-color: whitesmoke;
}

.calculator-keys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);

}

#solution, #solution-title{
    margin-top: 5%;
    text-align: center;
    
    
}

#solution-title {
    margin-bottom: 2%;
}

#inputs {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 4%;
}

.operator  {
    background-color: wheat;
}

#history-title, #history, .calc-list {
    text-align: center;
 
}

#history-title {
    margin-bottom: 2%;
}

#clear-history {
    text-align: center;
}

.calc-list {
    text-align: center; 
    list-style-position: inside;
}

